* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 88vh;
  width: 100vw;
}

#options {
  position: absolute;
  top: 200px;
  right: 50px;
  background:rgba(121,134,203,.75);
  border-radius: 25px;
  padding-right: 15px;
}

ul{
  list-style-type: none;
  font-weight: bold;
}

li {
  font-size: 22px;
}

header {
  display: flex;
  background-color: #283593;
  height: 80px;
}

nav {
  margin: 1em;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  color: white;
  align-self: center;
  font-weight: bolder;
  font-size: 2em;
}

img {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 1em;
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #A9A9A9}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent;
}
